doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |   
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |   
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
    |   
    link(href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab', rel='stylesheet')
    |   
    link(rel='stylesheet', href='style.css')
    |   
    title GTCoding
  body
    #slideout-menu
      ul
        li
          a(href='index.html') Home
        |           
        li
          a(href='blogslist.html') Blog
        |           
        li
          a(href='blogslist.html') Projects
        |           
        li
          a(href='about.html') About
        |           
        li
          input(type='text', placeholder='Search Here')
    |   
    nav
      #logo-img
        a(href='#')
          img(src='img/logo.png', alt='GTCoding Logo')
      |       
      #menu-icon
        i.fas.fa-bars
      |       
      ul
        li
          a(href='index.html') Home
        |           
        li
          a.active(href='blogslist.html') Blog
        |           
        li
          a(href='blogslist.html') Projects
        |           
        li
          a(href='about.html') About
        |           
        li
          #search-icon
            i.fas.fa-search
    |   
    #searchbox
      input(type='text', placeholder='Search Here')
    |   
    main
      h2.page-heading Blogs
      |     
      section
        .card
          .card-image
            a(href='blogpost.html')
              img(src='img/1.jpg', alt='Card Image')
          |         
          .card-description
            a(href='blogpost.html')
              h3 The Blog Title Here
            |           
            .card-meta
              | Posted by Admin on 23/01/2018 in
              a(href='#') Web Dev
            |           
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ullam facilis consequuntur eligendi sit accusamus tempora
              | cum distinctio pariatur ipsa quod, odit dolorum non vero recusandae? Corporis voluptatem optio nulla.
            |           
            a.btn-readmore(href='blogpost.html') Read more
        |       
        .card
          .card-image
            a(href='#')
              img(src='img/2.jpg', alt='Card Image')
          |         
          .card-description
            a(href='#')
              h3 The Blog Title Here
            |           
            .card-meta
              | Posted by Admin on 23/01/2018 in
              a(href='#') Web Dev
            |           
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ullam facilis consequuntur eligendi sit accusamus tempora
              | cum distinctio pariatur ipsa quod, odit dolorum non vero recusandae? Corporis voluptatem optio nulla.
            |           
            a.btn-readmore(href='#') Read more
        |       
        .card
          .card-image
            a(href='blogpost.html')
              img(src='img/1.jpg', alt='Card Image')
          |         
          .card-description
            a(href='blogpost.html')
              h3 The Blog Title Here
            |           
            .card-meta
              | Posted by Admin on 23/01/2018 in
              a(href='#') Web Dev
            |           
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ullam facilis consequuntur eligendi sit accusamus tempora
              | cum distinctio pariatur ipsa quod, odit dolorum non vero recusandae? Corporis voluptatem optio nulla.
            |           
            a.btn-readmore(href='blogpost.html') Read more
        |       
        .card
          .card-image
            a(href='#')
              img(src='img/2.jpg', alt='Card Image')
          |         
          .card-description
            a(href='#')
              h3 The Blog Title Here
            |           
            .card-meta
              | Posted by Admin on 23/01/2018 in
              a(href='#') Web Dev
            |           
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ullam facilis consequuntur eligendi sit accusamus tempora
              | cum distinctio pariatur ipsa quod, odit dolorum non vero recusandae? Corporis voluptatem optio nulla.
            |           
            a.btn-readmore(href='#') Read more
        |       
        .card
          .card-image
            a(href='blogpost.html')
              img(src='img/1.jpg', alt='Card Image')
          |         
          .card-description
            a(href='blogpost.html')
              h3 The Blog Title Here
            |           
            .card-meta
              | Posted by Admin on 23/01/2018 in
              a(href='#') Web Dev
            |           
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ullam facilis consequuntur eligendi sit accusamus tempora
              | cum distinctio pariatur ipsa quod, odit dolorum non vero recusandae? Corporis voluptatem optio nulla.
            |           
            a.btn-readmore(href='blogpost.html') Read more
        |       
        .card
          .card-image
            a(href='#')
              img(src='img/2.jpg', alt='Card Image')
          |         
          .card-description
            a(href='#')
              h3 The Blog Title Here
            |           
            .card-meta
              | Posted by Admin on 23/01/2018 in
              a(href='#') Web Dev
            |           
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ullam facilis consequuntur eligendi sit accusamus tempora
              | cum distinctio pariatur ipsa quod, odit dolorum non vero recusandae? Corporis voluptatem optio nulla.
            |           
            a.btn-readmore(href='#') Read more
      |     
      .pagination
        a(href='#') Prev
        |       
        a(href='#') 4
        |       
        a(href='#') 5
        |       
        a(href='#') 6
        |       
        a(href='#') Next
      |     
      footer
        #left-footer
          h3 Quick Links
          |             
          p
          ul
            li
              a(href='index.html') Home
            |                     
            li
              a(href='about.html') About
            |                     
            li
              a(href='#') Privacy Policy
            |                     
            li
              a(href='blogslist.html') Blogs
            |                     
            li
              a(href='blogslist.html') Projects
            |                     
            li
              a(href='#') Contact
          |             
          p
        |         
        #right-footer
          h3 Follow us on
          |             
          #social-media-footer
            ul
              li
                a(href='#')
                  i.fab.fa-facebook
              |                     
              li
                a(href='#')
                  i.fab.fa-youtube
              |                     
              li
                a(href='#')
                  i.fab.fa-github
          |             
          p This website is developed by GTCoding
    |   
    script(src='main.js')
